<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<img src="assets/RONAN.jpg" alt="">
<ion-card>

  <ion-card-header>

    <ion-card-title>Desenvolvido por Raul</ion-card-title>
    <ion-item>
      <ion-icon name="code-slash-outline"></ion-icon>
      <ion-label>Livraria </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
       <ion-label>raulbooks@email.com </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="caret-forward-circle-outline"></ion-icon>
       <ion-label>www.raulbooks.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-instagram"></ion-icon>
       <ion-label>@raulbooksofc</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-github"></ion-icon>
       <ion-label>github.com/raulbooks</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="swap-vertical-outline"></ion-icon>
      <ion-label>Versão 1.01</ion-label>
    </ion-item>

  </ion-card-header>

</ion-card>
</ion-content>


